@model IEnumerable<CalendarMvc.Models.Event>

@{
    ViewData["Title"] = "Index";
}
<style>
    h2 {
        color: darkslategrey;
    }
    th {
        color: darkslategray;
    }
   body, html {
       background-color: whitesmoke;
    }
   tr {
       color: darkcyan;
       
   }
   .table {
       border-color: darkcyan;
   }
</style>

<h2>Events</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-controller="Events" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>



<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
                   
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryAttendeeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryAttendeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
                        
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryAttendeeEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryAttendeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


